

h1{
   font-family: 'Lato';
   font-style: normal;
   font-weight: 700;
   font-size: var(--fonts-header1);
   line-height: 100%;
   letter-spacing: -0.04em;
}

h4{
   font-family: 'Lato';
   font-style: normal;
   font-weight: 400;
   font-size: var(--fonts-header3);
   line-height: 21.6px;
   letter-spacing: -0.04em;
   white-space: nowrap;
   

   @media (max-width:834px){
      line-height: 18px;
   }

   @media (max-width:370px){
      white-space: normal;
   }
}





