/// Homepage Styles File
/// Here we import all the Styles files we need for our Homepage.

.flex{
   display: flex;
   height: 100%;
}

.padding-x-md{
   padding-top: var(--padding-x-md);
   padding-bottom: var(--padding-x-md);
}

.padding-lg{
   padding: var(--padding-y-lg);
}

.padding-y-md{
   padding-left: var(--padding-y-md);
   padding-right: var(--padding-y-md);
}
.padding-y-sm{
   padding-left: var(--padding-y-sm);
   padding-right: var(--padding-y-sm);
}

.text-grey{
   color: var(--color-light-grey);
}

.padding-footer{
   padding-left: var(--padding-left-footer);
   padding-right: var(--padding-y-sm);
}


// .................................home............................

.home{
   // position: relative;
   
   flex-direction: column;
   max-width: 1440px;
   min-height: 100vh;
   margin: auto;
   background-color: var(--color-black-light);
 
   & &__header{
      
      position: sticky;
      top: 0;
      height: 84px;
      padding-top: 19px;
      padding-bottom: 19px;
      background-color: var(--color-black-50);
      z-index: 5;
   }
   &__nav__btn-right{
      position: absolute;
      top: 19px;
      left: 120px;
   }

   &__nav__btn-left{
      top: 19px;
      left: 50px;
         transform: rotate(180deg);
   }

   &__nav__btn-left,
   &__nav__btn-right{
         cursor: pointer;
         width: 46px;
         height: 46px; 
         padding: 14px;        
         background-color: var(--color-black-50);
         border-radius: 53.3333px;
         display: flex;
         justify-content: center;
         align-items: center;
         border: 0;
   }

   &__nav__icon-box{
         width: 11px;
         height: 18px;
         
      & svg{      
            width: 11px;
            height: 18px;
         }
   }

   &__nav__btn-left:hover,
   &__nav__btn-right:hover{
         background-color: var(--color-blue-dark);
   }
   

   & &__user{
      position: absolute;
      top: 23px;
      right: 50px;
      display: flex;
      align-items: center;
      gap: 12px;
      padding: 3px;
      border-radius: var(--br-lg);
      background-color: var(--color-black-70);
      color: var(--color-white);

      &:hover .home__user__name-hover{
         opacity: 1;
         visibility:visible;
      }

      &__img-box{
         padding-right: 1px;
         width: 38px;
         height: 38px;
         border-radius: var(--br-lg);
         overflow: hidden;
         border: 1px solid var(--color-black-70);
      }

      &__img{
         width: 39px;
         height: 39px;
      }

      &__name{
         margin-right: 32px;
      }
      &__name-hover{
         opacity: 0;
         visibility:hidden;
         position: absolute;
         padding: 10px 16px;
         border-radius: var(--br-sm);
         bottom: -48px;
         background-color: inherit;
         right: 0;
      }
   }

   & &__main{
      margin-top: -84px;
   }

   & &__hero{
      display: flex;
      align-items: end;
      height: 434px;
      background-image: url("../../../../img/tlo.png");
      background-repeat: no-repeat;
      background-position: right;
   }

   & &__hero__typography{
      display: flex;
      flex-direction: column;
      gap: 24px;
   }

   // ..............................................Player.......................

   & &__player{
         &__container{
         display: flex;
         align-items: center;
         gap: 32px;
      } 
   }

   // ..............................................Playlist....................

   & &__playlist__list{ 
      max-height: 800px;
      overflow: auto;
      display: flex;
      flex-direction: column;
      gap: 16px; 

      &::-webkit-scrollbar{
         width: 0px;
      } 
   }

   //........................................ Footer..............................
   & &__footer{
      padding-top: 100px;
      padding-bottom: 32px;
   
      &__main-box{
         padding-bottom: 80px;  
         border-bottom: 1px solid var(--color-dark-grey);
         display: flex;    
         justify-content: space-between ;
         align-items: start;
      }
      
      &__links-box{
         display: flex;
         flex-wrap: wrap;
         gap: 100px;
      }

      &__column{
         display: flex;
         flex-direction: column;
         gap: 24px;
      }

      &__list-title{
         font-weight: 700;
         font-size: 18px;
         line-height: 22px;
      }

      &__list{
         display: flex;
         flex-direction: column;
         gap: 16px;
      }

      &__item{
         &:hover .home__footer__link{
            text-decoration: underline;
            color: var(--color-white);
         }
      }

      &__link{
         font-weight: 400;
         font-size: 16px;
         line-height: 19px;
         display: flex;
         align-items: center;
         text-transform: capitalize;
         color:var(--color-light-grey);
      }

      //..................................... Social links.......................

      &__social{
         display: flex;
         align-items: center;
         gap: 12px;
      }

      &__social-links{
         overflow: hidden;
         border-radius: var(--br-sm);
         background-color: var(--color-grey);
         display: flex;
         align-items: center;
         justify-content: center;
         width: 40px;
         height: 40px;

         &:hover{
            background-color: #ffffff4d;
         }
      }

      &__icon{
         & svg{
            width: 20px;
            height: 20px;
         }
      }

      &__copyright{
         margin-top: 32px;
      }

   }
   @media only screen and (max-width:834px) {
       & &__hero{
         height: 425px;
      }

      & &__hero__typography{
         gap: 16px;
      }

      & &__hero{
         background-image: url("../../../../img/Desk.png");

         background-size: cover ;
      }

      & &__nav{
         &__btn-right{
            display: none;
            visibility: hidden;
         }
      }

      & &__user{
         display: none;
         visibility: hidden;
      }
      & &__footer{
         margin-bottom: 82px;
   
         &__main-box{
            flex-direction: column;
            gap: 64px;
         }

         &__links-box{
            gap: 50px !important;
         }
      }
   }

   @media only screen and (max-width:375px) {
   & &__hero{
      height: 434px;
   }

   & &__hero{
      background-image: url("../../../../img/mobile.png");
      background-position: right -150px top 0;
      background-size: cover ;
   }


   }

}

